

<h1>Vehicles</h1>

<table>
  <thead>
    <tr>
      <th>License</th>
      <th>Vehicle type</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.license %></td>
        <td><%= vehicle.vehicle_type %></td>
        <td><%= link_to 'Wash', new_wash_path(vehicle: vehicle.license) %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>New Vehicle: </h1>
<%= render 'form', vehicle: @vehicle %>

<!-- <%= link_to 'New Vehicle', new_vehicle_path %> -->
