<p>
  <strong>Description:</strong>
  <%= @charge.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @charge.amount %>
</p>

<p>
  <strong>Is Credit:</strong>
  <%= @charge.is_credit %>
</p>

<p>
  <strong>Wash:</strong>
  <%= link_to "Wash ID: #{@charge.wash_id}", @charge.wash %>
</p>

<nav class="nav-actions">
  <%= link_to 'Edit', edit_charge_path(@charge) %>
  <%= link_to 'Back', charges_path %>
</nav>
